@model List<Auto>
@{
  ViewData["Title"] = "Auto"; 
}


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">        
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Users" asp-action="Auto">Auto</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Auto">Auto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    <table class="table"> 
        <tr>
            <th>Model</th>
            <th>Year</th>
            <th>Price</th>
        </tr>
      @foreach (var item in Model)
      {
              <tr>
                  <td>
                        @Html.DisplayFor(modelItem => item.AutoModel)
                  </td>
                  <td>
                        @Html.DisplayFor(modelItem => item.Year)
                  </td>
                  <td>
                        @Html.DisplayFor(modelItem => item.Price)
                  </td>
                  <td>
                    @Html.ActionLink("Book", "CreateApp", new {id = item.AutoId, ViewBag.UserId})                    
                  </td>
              </tr>
      } 
     </table>

    <br />
    </header>
</body>


@*<p>
  @Html.ActionLink("Add Auto", "AddAuto")
</p>

<br />

<div class="panel panel-primary">
    <div class="panel-heading">
        Auto
    </div>
    <table class="table table-striped">
        <tr>
            <th>AutoModel</th>
            <th>Year</th>
            <th>Price</th>
        </tr>
        @foreach(var aut in Model)
        {
            <tr>
                <td>@aut.AutoModel</td>
                <td>@aut.Year</td>
                <td>@aut.Price</td>
            </tr>
        }
  </table>
</div>*@

@*  <form asp-controller="Home" asp-action="CreateAuto" method="post">

@if (AddObj.FoundRole(ViewBag.Login) == 2)
 {
    <!-- Кнопка-триггер модального окна -->
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Add Auto
</button>
}

<!-- Модальное окно -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Auto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="Model" name="model">
                        <label for="floatingInput">Model</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="Year" name="year">
                        <label for="floatingInput">Year</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="Price" name="price">
                        <label for="floatingInput">Price</label>
                    </div>
                </div>
                </div>
            </div>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Don't Save</button>
        <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal">Save</button>        
      </div>

      </div>
    </div>
  </div>
</div>
</form>*@